<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Metas -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="yandex-verification" content="2af7cb3efcea8cd8" />
    <title>Şoföriste Mobil Uygulama Tanıtımı</title>
    <meta name="description"
          content="İşletmleriniz artık uygulamamız sayesinde ön planda yer alacak. Kazanırken de kazandıracak uygulama!">

    <!-- External CSS -->
    <link href="~/one-page/assets/css/bootstrap.min.css" rel="stylesheet" />   
    <link href="~/one-page/assets/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/one-page/assets/css/et-line.css" rel="stylesheet" />
    <link href="~/one-page/assets/css/magnific-popup.css" rel="stylesheet" />
    <link href="~/one-page/assets/css/animate.css" rel="stylesheet" />
    <link href="~/one-page/assets/css/owl.carousel.css" rel="stylesheet" />
    <link href="~/one-page/assets/css/owl.transitions.css" rel="stylesheet" />
    <link href="~/one-page/assets/css/plyr.css" rel="stylesheet" />

    <!-- Custom CSS -->
    <link href="~/one-page/css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/one-page/css/responsive.css">

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400%7CUbuntu:400,700%7COpen+Sans" rel="stylesheet">

    <!-- Favicon -->
    <link rel="icon" href="~/logo.png">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/icon-114x114.png">
    @RenderSection("Head", required: false)
    <!--[if lt IE 9]>
      <script src="assets/js/html5shiv.min.js"></script>
      <script src="assets/js/respond.min.js"></script>
    <![endif]-->
</head>

<body>

    @RenderBody()

    <!-- Script -->
    <script src="~/one-page/assets/js/jquery.min.js"></script>
    <script src="~/one-page/assets/js/bootstrap.min.js"></script>
    <script src="~/one-page/assets/js/jquery.nav.js"></script>
    <script src="~/one-page/assets/js/wow.min.js"></script>
    <script src="~/one-page/assets/js/jquery.localScroll.min.js"></script>
    <script src="~/one-page/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="~/one-page/assets/js/owl.carousel.js"></script>
    <script src="~/one-page/assets/js/plyr.js"></script>
    <script src="~/one-page/assets/js/jquery.ajaxchimp.min.js"></script>
    <script src="~/one-page/assets/js/jquery.stellar.min.js"></script>
    @*<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAmiJjq5DIg_K9fv6RE72OY__p9jz0YTMI"></script>*@
    @*<script src="~/one-page/js/map.js"></script>*@
    <script src="~/one-page/js/custom.js"></script>
    <script src="~/js/sweetalert2@10.js"></script>

    <script src="~/js/vue.js" xmlns:v-on="http://www.w3.org/1999/xhtml"></script>
    <script src="~/js/axios.min.js"></script>



    @RenderSection("Scripts", required: false)

</body>

</html>