
@{
    ViewData["Title"] = "AccessError";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

    <div class="alert alert-dark p-2 mt-2">
        İşlemi Gerçekleştirme Yetkiniz bulunmamaktadır.
    </div>

