@model Core.ResultType.Result<DataObject.ViewModels.AdminModuleViewModel>
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>Sil</h1>

@*<div class="alert alert-dark">
    @Model.Data.AdminDo.Username kullanıcısını silmek istediğinizden emin misiniz?

    <div class="row">
        <div class="col-lg-3">
            <form asp-action="Delete" asp-controller="Admin" method="post">
                <input type="submit" asp-action="Delete" asp-controller="Admin" class="btn btn-danger" value="Evet Sil">
            </form>
        </div>
        <div class="col-lg-3">
            <a class="btn btn-success" asp-controller="Admin" asp-action="Index">Vazgeç</a>
        </div>
    </div>
</div>*@
