
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Şoföriste Şifremi Unuttum Ekranı</title>

    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href="~/global_assets/css/icons/icomoon/styles.min.css" rel="stylesheet" />
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />

    <link href="~/assets/css/bootstrap_limitless.min.css" rel="stylesheet" />
    <link href="~/assets/css/layout.min.css" rel="stylesheet" />
    <link href="~/assets/css/components.min.css" rel="stylesheet" />
    <link href="~/global_assets/css/icons/fontawesome/styles.min.css" rel="stylesheet" />
    <link href="~/assets/css/colors.min.css" rel="stylesheet" />
    <style>
        .giris {
            background-color: #006466;
        }

            .giris:hover {
                background-color: #075b5c;
            }
        .non-active {
            /**/ display: none;
        }
        .login-logo {
            width: 50%;
            height: auto;
        }

       
        .login-body {
            background-color: #fff;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .login-form {
            background-color: rgba(255, 255, 255, 0.5)!important;
        }
    </style>
</head>
<body class="login-body">
    <div class="text-center loader non-active " id="loader-gif" style="z-index:99999;">
        <div class="pace-demo" style=" position: absolute;">
            <div class="theme_radar theme_radar_with_text">
                <div class="pace_activity"></div>
            </div>
        </div>
    </div>
    <!-- Page content -->
    <div class="page-content" id="app">

        <!-- Main content -->
        <div class="content-wrapper">

            <!-- Content area -->
            <div class="content d-flex justify-content-center align-items-center">

                <!-- Password recovery form -->
                <div class="login-form card mb-0">
                    <div class="card-body">
                        
                        <form v-on:submit.prevent="gonder()" method="post">
                            <div class="text-center mb-3">
                                <i class="icon-spinner11 icon-2x border-3 rounded-round p-3 mb-3 mt-1" style="color:#006466;"></i>
                                <h5 class="mb-0" style="color:#fff">Şifre değişikliği</h5>
                                <span class="d-block text-muted" style="color:#fff!important">Bilgilerinizi içeren bir mail yollayacağız.</span>
                            </div>

                            <div class="form-group form-group-feedback form-group-feedback-right">
                                <input type="email" class="form-control" v-model="email" required placeholder="Sistemde kayıtlı mail adresinizi giriniz">
                                <div class="form-control-feedback">
                                    <i class="icon-mail5 text-muted"></i>
                                </div>
                            </div>

                            <button type="submit" class="giris btn btn-block mb-2" style="color:#fff"><i class="icon-spinner11 mr-2"></i>Şifre Sıfırlama Linki Gönder</button>
                            <a href="/" class="text-left" style="color:#006466">Ana Sayfaya Geri Dön</a>
                        </form>

                    </div>
                </div>
                <!-- /password recovery form -->

            </div>
            <!-- /content area -->
        </div>
        <!-- /main content -->

    </div>
    <!-- /page content -->

    <script src="~/global_assets/js/main/jquery.min.js"></script>
    <script src="~/global_assets/js/main/bootstrap.bundle.min.js"></script>
    <script src="~/global_assets/js/plugins/loaders/blockui.min.js"></script>

    <!-- /core JS files -->
    <!-- Theme JS files -->

    <script src="~/global_assets/js/plugins/forms/styling/uniform.min.js"></script>
    <script src="~/assets/js/app.js"></script>
    <script src="~/global_assets/js/demo_pages/login.js"></script>


    <!-- /theme JS files -->
    <script src="~/js/sweetalert2@10.js"></script>

    <script src="~/js/vue.js" xmlns:v-on="http://www.w3.org/1999/xhtml"></script>
    <script src="~/js/axios.min.js"></script>

    <script type="text/javascript">
        var vm = new Vue({
            el: "#app",
            data: {
                email: "",

            },
            methods: {
                gonder: function () {
                    let url = "/Admin/ForgotPassword";
                    let data = {
                        email: vm.email
                    };

                    Swal.fire({
                        title: 'Emin misiniz?',
                        text: "Şifre sıfırlama maili gönderilsin mi?",
                        icon: 'info',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Evet',
                        cancelButtonText: 'Hayır'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            $('#loader-gif').removeClass("non-active");
                            axios({
                                url: url,
                                data: data,
                                method: 'Post'
                            }).then(res => {
                                if (res.data.isSuccess) {
                                    $('#loader-gif').addClass("non-active");
                                    Swal.fire({
                                        title: 'Başarılı',
                                        text: res.data.message,
                                        icon: 'success',
                                        showCancelButton: false,
                                        confirmButtonColor: '#3085d6',
                                        confirmButtonText: 'Tamam'
                                    });
                                }
                                else {
                                    $('#loader-gif').addClass("non-active");
                                    Swal.fire(res.data.message, '', 'warning');
                                }
                            }).catch(err => {
                                $('#loader-gif').addClass("non-active");
                                Swal.fire('Mail gönderilirken bilinmeyen bir hata yaşandı.', '', 'error');
                                console.log('ERR ::::::::  ', err);
                            });
                        }
                    })

                }
            },

        })
    </script>
</body>
</html>


