
@model Core.ResultType.Result<DataObject.ViewModels.AdminModuleViewModel>

@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Şoföriste Şifre Resetleme Ekranı</title>

    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href="~/global_assets/css/icons/icomoon/styles.min.css" rel="stylesheet" />
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />

    <link href="~/assets/css/bootstrap_limitless.min.css" rel="stylesheet" />
    <link href="~/assets/css/layout.min.css" rel="stylesheet" />
    <link href="~/assets/css/components.min.css" rel="stylesheet" />
    <link href="~/global_assets/css/icons/fontawesome/styles.min.css" rel="stylesheet" />
    <link href="~/assets/css/colors.min.css" rel="stylesheet" />
    <style>
        .giris {
            background-color: #53B0AF;
        }

            .giris:hover {
                background-color: #4a8483;
            }

        .non-active {
            /**/ display: none;
        }
        .login-body {
            background-color: #fff;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
</head>
<body class="login-body">
    <!-- Page content -->

    <div class="page-content" id="app">



        @if (!Model.IsSuccess)
        {
            <div class="alert alert-danger mt-2 p-2">
                @Model.Message
            </div>
        }
        else
        {

            <!-- Main content -->
            <div class="content-wrapper">

                <!-- Content area -->
                <div class="content d-flex justify-content-center align-items-center">

                    <!-- Password recovery form -->
                    <div class="card mb-0">
                        <div class="card-body">
                            
                            <form v-on:submit.prevent="update()" method="post">

                                <div class="card card-header">
                                    <h4>Şifre Resetleme Ekranı</h4>
                                </div>

                                <div class="form-group form-group-feedback form-group-feedback-right">
                                    <span>Onay Kodu</span>
                                    <input class="form-control" type="number" v-model="confirm" max="99999999" required>
                                </div>
                                <div class="form-group form-group-feedback form-group-feedback-right">
                                    <span>Yeni Şifre</span>
                                    <input class="form-control" type="password" v-model="newpassword" pattern="[\S]+" maxlength="25" required>
                                </div>

                                <div class="form-group form-group-feedback form-group-feedback-right">
                                    <span>Yeni Şifre Tekrar</span>
                                    <input class="form-control" type="password" v-model="newrepassword" pattern="[\S]+" maxlength="25" required>
                                </div>

                                <button type="submit" :disabled="!newpassword || !newrepassword || newpassword != newrepassword" class="giris btn btn-block mb-2" style="background-color: #006466; color:#fff"><i class="icon-spinner11 mr-2"></i>Güncelle</button>
                                <a href="/" class="text-left text-success">Ana Sayfaya Geri Dön</a>
                            </form>

                        </div>
                    </div>
                    <!-- /password recovery form -->

                </div>
                <!-- /content area -->
            </div>
            <!-- /main content -->
        }

    </div>



    <!-- /page content -->

    <script src="~/global_assets/js/main/jquery.min.js"></script>
    <script src="~/global_assets/js/main/bootstrap.bundle.min.js"></script>
    <script src="~/global_assets/js/plugins/loaders/blockui.min.js"></script>

    <!-- /core JS files -->
    <!-- Theme JS files -->

    <script src="~/global_assets/js/plugins/forms/styling/uniform.min.js"></script>
    <script src="~/assets/js/app.js"></script>
    <script src="~/global_assets/js/demo_pages/login.js"></script>


    <!-- /theme JS files -->
    <script src="~/js/sweetalert2@10.js"></script>
    <script src="~/js/vue.js" xmlns:v-on="http://www.w3.org/1999/xhtml"></script>
    <script src="~/js/axios.min.js"></script>

    <script type="text/javascript">
        var vm = new Vue({
            el: "#app",
            data: {
                confirm: "",
                newpassword: "",
                newrepassword: "",
                user: null,
            },
            created: function () {
                @Html.Raw("this.user = " + Json.Serialize(Model.Data.AdminDo));
            },
            methods: {
                update() {
                    if (vm.newpassword.length < 6) {
                        Swal.fire({
                            title: 'Eksik Bilgi',
                            text: "Yeni Şifreniz 6 karakterden küçük olamaz.",
                            icon: 'warning',
                            showCancelButton: false,
                            confirmButtonColor: '#3085d6',
                            confirmButtonText: 'Tamam',
                        });
                        return;
                    } if (vm.newrepassword.length < 6 || vm.newrepassword != vm.newpassword) {
                        Swal.fire({
                            title: 'Eksik Bilgi',
                            text: "Yeni şifreler eşleşmelidir.",
                            icon: 'warning',
                            showCancelButton: false,
                            confirmButtonColor: '#3085d6',
                            confirmButtonText: 'Tamam',
                        });
                        return;
                    }
                    // ============ <Start> Loading  ===========
                    Swal.fire({
                        title: 'Lütfen Bekleyiniz...',
                        allowOutsideClick: false,
                        showConfirmButton: false,
                        didOpen: () => {
                            Swal.showLoading()
                        }
                    });
            // ============ </End> Loading  ==========

                        axios({
                        method: 'post',
                        url: '/Admin/ResetPassword',
                            data: {
                                token: vm.user.token,
                                tmp_password: vm.confirm,
                                newpassword: vm.newpassword,
                                newrepassword: vm.newrepassword
                        }
                        }).then(response => {
                            if (response.data.success) {
                                Swal.fire({
                                    title: 'DİKKAT',
                                    text: response.data.message,
                                    icon: 'success',
                                    showCancelButton: true,
                                    confirmButtonColor: '#3085d6',
                                    cancelButtonColor: '#d33',
                                    confirmButtonText: 'Geri Dön',
                                    cancelButtonText: 'Bu Sayfada kal'
                                }).then((result) => {
                                    if (result.isConfirmed) {
                                        location.href = "/";
                                    }
                                });

                                vm.confirm = "";
                                vm.newpassword = "";
                                vm.newrepassword = "";
                            } else {
                                Swal.fire({
                                    title: 'Başarısız',
                                    text: response.data.message,
                                    icon: 'warning',
                                    showCancelButton: false,
                                    confirmButtonColor: '#3085d6',
                                    confirmButtonText: 'Tamam',
                                });
                            }
                        }).catch(function (error) {
                            console.log(error);
                        });

                    }
            }
        });
    </script>

</body>
</html>


























